.signin {
  display: inline-block;
  border: 1px solid gray;
  color: #065fd4;
  padding: 0.6em 1.2em;
  border-radius: 1.5em;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
}

.signin:hover {
  background-color: #bee0fd;
  border: 1px solid transparent;
}